<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <title>Student Management Dashboard</title>
    </head>

    <body>
        <main class="content">
            <header>
               <div class="logo"><a href="/admin"><img src="../img/logo.png" alt="logo" style="height: 60px;width: 60px;"></a></div>
                <div class="user-menu">
                    <span>Welcome, Admin!</span>
                    <a href="#">Profile</a>
                    <a href="#">Notifications</a>
                    <a href="/login">Logout</a>
                </div>
            </header>
            <aside>
                <nav class="sidebar">
                    <ul>
                        <li><a href="/admin/dashboard" class="nav-link" id="dashboard-link">Dashboard</a></li>
                        <li><a href="/admin/createstudents" class="nav-link" id="add-student-link">Add Student</a></li>
                        <li><a href="/admin/studentlists" class="nav-link" id="view-students-link">View Students</a></li>
                        <li><a href="/admin/library" class="nav-link" id="view-students-link">Library</a></li>
                    </ul>
                </nav>
            </aside>

        </main>
        <main class="allcontent">
            <section id="add-students">

                <div class="std-container">
                    <h1>Add Student Details</h1>
                    <form action="/createstudent" method="post">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required>

                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>

                        <label for="contact">Contact:</label>
                        <input type="tel" id="contact" name="contact" required>

                        <label for="class">Faculty:</label>
                        <select id="class" name="class" required>
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="BHM">BHM</option>
                        </select>

                        <label for="bloodgroup">Blood Group:</label>
                        <input type="text" id="bloodgroup" name="bloodgroup">
                        <div class="btn">
                            <button type="submit" class="btn submit-btn">Submit</button>
                            <button type="reset" class="btn reset-btn">Reset</button>
                        </div>

                    </form>
                </div>
            </section>
        </main>

    </body>

</html>