<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>adding-students</title>
        <!-- <link rel="stylesheet" href="../css/add_students.css"> -->
        <link rel="stylesheet" href="../css/add_students.css">
    </head>
    <body>

        <div class="std-container">
            <h1>Add Student Details</h1>
            <form action="/addStudents" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>

                <label for="address">Address:</label>
                <input type="text" id="address" name="address" required>

                <label for="contact">Contact:</label>
                <input type="tel" id="contact" name="contact" required>

                <label for="class">Faculty:</label>
                <select id="class" name="class" required>
                    <option value="BCA">BCA</option>
                    <option value="BBA">BBA</option>
                    <option value="BHM">BHM</option>
                </select>

                <label for="bloodgroup">Blood Group:</label>
                <input type="text" id="bloodgroup" name="bloodgroup">

                <button type="submit" class="btn submit-btn">Submit</button>
                <button type="reset" class="btn reset-btn">Reset</button>
            </form>
        </div>

    </body>
</html>