
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="../public/css/dashboard.css">
         -->
        <link rel="stylesheet" href="../css/dashboard.css">
        <title>Dasboard</title>
    </head>
    <body>
        <div class="dashboard">
            <h1 class="dashboard-title">Dashboard</h1>
            <div class="count-box">

                <h3>Total Students</h3>
                <div class="count"><%- allstudents %></div>
            </div>
            <div class="count-box">
                <h3>Total Teachers</h3>
                <div class="count">10</div>
            </div>
        </div>

    </body>
</html>