/* Reset some default styles for better consistency */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

body,
h1,
h2,
ul,
li,
p {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* Basic styling for sidebar navigation */
.sidebar {
    background-color: #333;
    color: #fff;
    width: 250px;
    height: 100vh;
    padding-top: 20px;
    margin-top: 86px;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
}

/* Advanced styling for sidebar navigation */
/* aside {
    background-color: #333;
    color: #fff;
    width: 250px;
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.2);
} */


/* Basic styling for header */
header {
    background-color: #007BFF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.user-menu {
    text-align: right;
}

.user-menu a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

ul ul {
    display: none;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

ul li a:hover {
    background-color: #444;
}

ul li:hover ul {
    display: block;
}

/* Basic styling for content area */
.content {
    margin-left: 250px;
    padding: 20px;
    /* display: none; */
}

/* Add more specific styling for each section as needed
h1 {
    font-size: 24px;
    margin-bottom: 20px;
} */

/* Media query for responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .content {
        margin-left: 0;
        align-items: center;
        justify-content: center;
        top: 0%;
        left: 0%;
        transform: -50% -50%;
    }
}